body {
    align-content: center;
    align-items: center;
   
}

.vueapp {
align-content: center;
align-items: center;
}

ul {
    border: 3px solid black;
}

li {
    border: 3px solid blueviolet;
    padding: inherit;
    text-align: center;
    justify-content: center;
}